---
import Skills from "./subcomponents/Skills.astro";
import BioIntroduction from "./subcomponents/BioIntroduction.astro";
import Qualities from "./subcomponents/Qualities.astro";
---



  <section id="about" class="min-h-screen bg-stone-50 pt-8 px-3">
    <div class="flex justify-center">
      <h1 class="page-h1 mt-4">About</h1>
    </div>
    <div>
      <Qualities />
    </div>
    <article class="grid w-full gap-5 lg:w-3/4 mx-auto sm:grid-cols-2">
      <div>
        <BioIntroduction />
      </div>
      <div>
        <Skills />
      </div>
    </article>
  </section>
