  <section
    id="contact"
    class="min-h-screen bg-zinc-800 px-3 pt-8 text-gray-200 relative"
  >
    <h1 class="page-h1 text-center mt-8">Contact</h1>
    <div class="flex justify-center word-break">
      <div>
        <img
          src="./telephone-3594206_960_720.jpg"
          class="max-h-96 rounded-3xl mx-auto"
        />
        <p class="md:w-2/4 mx-auto mt-10 mb-4 text-center">
          If you want to work with me you can reach out via Email or
          LinkedIn:
        </p>
        <p class="md:w-2/4 mx-auto text-center">
          Email:
          <a href="mailto:tba@live.dk" class="underline text-blue-400"
            >tba@live.dk
          </a>
          <br />
          LinkedIn:
          <a
            href="https://www.linkedin.com/in/thomasandersen1998/"
            class="text-blue-400 underline"
          >
            https://www.linkedin.com/in/thomasandersen1998/
          </a>
        </p>
      </div>
    </div>

    <!-- Gitlab, Linkedin, Github icons -->
    <section class="flex justify-center py-4 mt-20">
      <h2 class="hidden">Links to Git repositories & LinkedIn</h2>
      <div class="flex w-full sm:w-3/4 lg:w-1/3 justify-evenly">
        <a href="https://gitlab.com/Noitcereon"
          ><img src="./gitlab.png" alt="Gitlab" class="inline-block w-12 h-12 float-left"
        /></a>
        <a href="https://www.linkedin.com/in/thomasandersen1998/"
          ><i class="lni lni-linkedin-original text-5xl text-blue-500"></i
        ></a>
        <a href="https://github.com/Noitcereon"
          ><i class="lni lni-github text-5xl"></i
        ></a>
      </div>
    </section>
    <div class="flex justify-center mt-5 pb-8">
      <a
        href="#"
        class="inline-block bg-gray-400 text-black rounded-full p-3 animate-pulse"
        >Scroll to Top</a
      >
    </div>

    <!-- svg html made with the free tool: https://www.shapedivider.app/ -->
    <div class="custom-shape-divider-top-1651663629">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
  </section>

<style scoped>
.word-break{
    word-break: break-word;
}
/* SVG Background */
.custom-shape-divider-top-1651663629 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1651663629 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1651663629 .shape-fill {
    fill: #F4F4F4;
}
/* SVG Background END */
</style>
