---
import AnimatedBackground from "../AnimatedBackground.astro"
---


<AnimatedBackground>
    <div class="h-screen grid lg:grid-cols-5">
      <section class="text-center mt-5 md:mt-32 col-start-2 col-end-5">
        <h1 class="text-3xl text-center text-gray-200 ">
          My name is
          <span class="font-bold text-amber-700 shadow">Thomas Andersen</span
          >.<br />
          Full-stack Web Developer. Gamer. Musician.<br />
          Human.
        </h1>
        <a
          href="#about"
          id="home-link-to-about"
          class="inline-block border-2 rounded px-3 py-1 mt-8 text-blue-200 text-opacity-80  hover:bg-emerald-500 transition-colors duration-300 hover:text-black"
        >
          Go to my skills <span>&rarr;</span>
        </a>
      </section>
    </div>
</AnimatedBackground>
<style>
#home-link-to-about:hover span {
  display: inline-block;
  transform: rotate(90deg);
  transition-property: transform, color, background-color;
  transition-duration: 400ms;
}
</style>
