---
import Card from "../Card.astro";
import { Image } from "astro:assets";
import oldCvSiteImg from "../../assets/oldCvScreenshot.png";
import newCvSiteImg from "../../assets/tmpNewCvSite.png";
import moodTrackerScreenshot from "../../assets/moodTrackerScreenshot.png";
import meditationSiteScreenshot from "../../assets/meditationSiteScreenshot.png";
import elDataScreenshot from "../../assets/elDataScreenshot.png"
import morseCodeApiScreenshot from "../../assets/morseCodeApiScreenshot.png"
---

<section id="portfolio" class="min-h-screen bg-zinc-100 flex justify-center">
  <div class="lg:w-3/4">
    <h2 class="page-h1 text-center mt-12">Portfolio</h2>
    <p>
      While working in <a
        class="font-bold text-purple-700 hover:underline hover:text-purple-800"
        href="https://dxc.com/us/en">DXC Technology</a
      >, I've maintained a few Java web applications, which I cannot share
      information about. However, below are some of the projects I've made in my
      free time.
    </p>
    <ul class="grid md:grid-cols-2 gap-5">
      <Card
        title="Old CV Website"
        href="https://gitlab.com/Noitcereon/noitcereon-cv"
        ><p>The previous version of this website. Made with Vue3.</p>
        <Image
          src={oldCvSiteImg}
          alt="Screenshot of Previous Website About page"
        />
      </Card>
      <Card
        title="This Website"
        href="https://gitlab.com/Noitcereon/noitcereon-cv-2024"
        ><p>
          The source code for this website. Made with Astro.<br />
          The rationale behind the CV site rework: Astro is a more suitable framework
          for content centric pages while the old Vue 3 site was a Singe Page Application,
          which generally bad for SEO.
        </p>
        <Image
          src={newCvSiteImg}
          alt="Screenshot of Current Websites About page"
        />
      </Card>
      <Card
        title="Electricity Data Consolidator"
        href="https://github.com/Noitcereon/electricity-data-consolidator"
        ><p>
          Java Console app, which collects data from external APIs and saves it
          to a .csv file
        </p>
        <Image src={elDataScreenshot} alt="Screenshot of Electricity Data Consolidator in use"></Image>
      </Card>
      <Card title="MoodTracker" href="https://github.com/Noitcereon/MoodTracker"
        ><p>
          C# Console App, which can help track mood, based on daily user
          entries.
        </p>
        <Image
          src={moodTrackerScreenshot}
          alt="Screenshot of Mood Tracker app."
        />
      </Card>
      <Card
        title="Minecraft Mod: Simple Sorting"
        href="https://github.com/Noitcereon/simple-sorting"
      >
        <p>
          Java mod, which sorts Minecraft inventories at the click of a button.
        </p>
        <Image
          src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbzNzbnRsNmhtaGt2NmcxbTRxNHlsZTA3bHp0NnU1anN6NTM4OWtydCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Ezj6tQEowCqknH3Tv5/giphy.webp"
          alt="Gif of sorting Minecraft inventory with my mod"
          width="600" height="200"
        />
      </Card>
      <Card
        title="Meditation Website"
        href="https://github.com/Noitcereon/nina-singh-website"
        ><p>
          Custom website made for Nina Singh, although it never got out of
          prototype stage.
        </p>
        <Image
          src={meditationSiteScreenshot}
          alt="Screenshot of the prototype"
        />
      </Card>
      <Card
        title="Morse Code REST API"
        href="https://github.com/Noitcereon/MorseCodeRest"
      >
        <p>
          A Simple REST api, which can translate Morse Code into readable text
        </p>
        <Image src={morseCodeApiScreenshot} alt="Screenshot of Morse Code API in Action (via Swagger)"></Image>
      </Card>
    </ul>
  </div>
</section>
