---
import Layout from "../layouts/Layout.astro";
import LandingPage from "../components/one-page-partial/LandingPage.astro";
import AboutMe from "../components/one-page-partial/AboutMe.astro";
import Portfolio from "../components/one-page-partial/Portfolio.astro";
import Footer from "../components/one-page-partial/subcomponents/Footer.astro"
import Contact from "../components/one-page-partial/Contact.astro";
import StickyNav from "../components/one-page-partial/subcomponents/StickyNav.astro";
---

<Layout title="Who is Thomas 'Noitcereon' Andersen?">
  <main class="">
    <LandingPage />
    <StickyNav />
    <AboutMe />
    <Portfolio />
    <Contact />
    <Footer />
  </main>
</Layout>
