---
interface Props {
  containerHeightClass?: string;
  containerWidthClass?: string;
  particleColorBgClass?: string;
  backgroundColorClass?: string;
  textColorClass?: string;
}

const {
  // Defaults, unless overriden
  particleColorBgClass = "bg-white",
  backgroundColorClass = "bg-slate-900",
  containerHeightClass = "h-screen",
  containerWidthClass = "w-full",
  textColorClass = "text-white",
} = Astro.props;
const containerClasses =
  containerHeightClass +
  " " +
  containerWidthClass +
  " " +
  backgroundColorClass +
  " " +
  textColorClass;
const baseParticleClasses = "particle " + particleColorBgClass;
---

<div class="relative">
  <div class={containerClasses}>
    <slot />
  </div>
  <div class:list={[baseParticleClasses, "particle-1"]}></div>
  <div class:list={[baseParticleClasses, "particle-2"]}></div>
  <div class:list={[baseParticleClasses, "particle-3"]}></div>
  <div class:list={[baseParticleClasses, "particle-4"]}></div>
  <div class:list={[baseParticleClasses, "particle-5"]}></div>
  <div class:list={[baseParticleClasses, "particle-6"]}></div>
  <div class:list={[baseParticleClasses, "particle-7"]}></div>
  <div class:list={[baseParticleClasses, "particle-8"]}></div>
  <div class:list={[baseParticleClasses, "particle-9"]}></div>
  <div class:list={[baseParticleClasses, "particle-10"]}></div>
</div>

<style>
  /* #region Particle animation */
  .particle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    bottom: 0%;
    animation: streaks 10s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
    z-index: 0;
  }
  .particle-1 {
    right: 5%;
    animation: streaks 3s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
  }
  .particle-2 {
    right: 15%;
    animation: streaks 4s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
  }
  .particle-3 {
    right: 34%;
    animation: streaks 5s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
  }
  .particle-4 {
    right: 44%;
  }
  .particle-5 {
    right: 55%;
    animation: streaks 4.5s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
  }
  .particle-6 {
    right: 66%;
    animation: streaks 3.7s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
  }
  .particle-7 {
    right: 80%;
    animation: streaks 5.5s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
  }
  .particle-8 {
    right: 87%;
    animation: streaks 4.7s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
  }
  .particle-9 {
    right: 96%;
  }
  .particle-10 {
    right: 99%;
    animation: streaks 6s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
  }
  @keyframes streaks {
    0% {
      bottom: 0%;
      width: 20px;
      height: 20px;
    }
    50% {
      bottom: 50%;
      opacity: 50%;
      width: 10px;
      height: 10px;
    }
    100% {
      bottom: 99%;
      opacity: 0%;
      width: 5px;
      height: 5px;
    }
  }
  /* #endregion Particle animation END */
</style>
