---
interface Props {
  href: string;
  linkText: string;
  cssClasses?: string;
}

const { href, linkText, cssClasses = "" } = Astro.props;
const defaultClasses = "rounded-md inline-block text-blue-200 hover:text-blue-900 bg-green-600 p-2 m-1 "
const liClasses = defaultClasses + cssClasses;
---

<li class={liClasses}>
  <a href={href}>{linkText}</a>
</li>
