
<div>
  <img
    src="./2022-marts-29.png"
    alt="Thomas Andersen smiling"
    class="rounded-full text-gray-600 mx-auto"
  />
</div>
<div class="text-center">
  <h2 class="page-h2">The Person in Question</h2>
  <p class="w-full md:w-3/4 md:mx-auto mb-2">
    I'm a full-stack Developer and am dedicated to make valuable software,
    which should be enjoyable to both use and maintain. In my spare time I
    read, play computer games & piano.
  </p>
  <a href="#contact" class="text-blue-600 border-2 border-gray-800 p-1 hover:bg-slate-200 focus:bg-slate-300">Get in Touch</a>
</div>

