---
const currentYear = new Date().getUTCFullYear();
---



<footer class="bg-slate-900 text-zinc-100 text-center">
  <div>
    <a href="https://lineicons.com/">Icons made by <span class="underline">Lineicons</span>  </a>
  </div>
    <span>© 2022-{currentYear} Thomas Andersen</span>
</footer>
