---
const skills = [];
skills.push("Java");
skills.push("Maven");
skills.push("HTML (semantic)");
skills.push("CSS");
skills.push("JavaScript");
skills.push("Bash scripting");
skills.push("Jakarta EE (Java EE)");
skills.push("SQL");
skills.push("Documentation writing")

const oldSkills = [];
oldSkills.push("REST API design");
oldSkills.push("UI Design");
oldSkills.push("C#");
oldSkills.push("Blazor (C# Web Framework)");
oldSkills.push("Database normalization");
oldSkills.push("Azure");
oldSkills.push("Docker");
oldSkills.push("React");

// Skills I don't want to work with:
// R, Angular, Photoshop
---

<section class="mb-14">
  <h2 class="page-h2 text-center mb-4">Technical Skills</h2>
  <p>
    Below I've listed technical skills (or technologies I have skill in) to give you an idea of what I can do.
   <!--
     TODO: make below lists more fancy for 2 reasons:
    1. Fill the empty space.
    2. To make a better impression on visitors ("wow" factor.). Maybe use images or other fonts + colors based on the given technology)
   -->
  </p>
  <div class="grid md:grid-cols-2 justify-center">
    <div>
      <h3 class="text-center">Recently Used</h3>
      <ul class="overflow-y-auto list-inside mb-4">
        {skills.map((skill) => <li class="list-disc">{skill}</li>)}
      </ul>
    </div>
    <div>
      <h3 class="text-center">Previously Used</h3>
      <ul class="overflow-y-auto list-inside">
        {oldSkills.map((skill) => <li class="list-disc">{skill}</li>)}
      </ul>
    </div>
  </div>
</section>
