---
import NavLink from "../../NavLink.astro";
---

<nav class="sticky top-0 w-full bg-slate-900 z-10">
  <ul class="flex justify-center">
    <NavLink href="/#" linkText="Home" cssClasses="AGONY" />
    <NavLink href="/#about" linkText="About Me" />
    <NavLink href="/#portfolio" linkText="Portfolio" />
    <NavLink href="/#contact" linkText="Contact" />
  </ul>
</nav>
