---
interface Props {
	title: string;
}

import NavLink from "../components/NavLink.astro"

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="The CV/Portfolio of the Web Developer Thomas 'Noitcereon' Andersen." />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css"> 
		<!-- Note: this is a bit of a hack to get Tailwind.css to work in production environment. Requires `npm run build-tailwind-css` after `npm run build`. (it can't find this file when running `npm run dev`) -->
		<link rel="stylesheet" type="text/css" href="./assets/compiled-tailwind.css" /> 

		<title>{title}</title>
	</head>
	<body>
		
		<slot />
	</body>
</html>
<style is:global>
	:root {

	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	/* Explicit headline class names to easily find styling affecting them */
	.page-h1{
		font-size: 1.875rem/* 30px */;
		line-height: 2.25rem/* 36px */;
		font-weight: bold;
	}
	.page-h2{
		font-size: 1.25rem/* 20px */;
    	line-height: 1.75rem/* 28px */;
		font-weight: 600;
	}
</style>
